.imagem-fundo {
  background: url("../src/images/background2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../src/images/wave.png");
  background-size: 1000px 100px;
}

li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
}

/* Below styles fake what can be achieved with the tailwind config
   you need to add the group-hover variant to scale and define your custom
   min width style.
   See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
   for implementation with config file
*/
.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 10px;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 9px;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 8px;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 7px;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

/* BACKGROUND */

.background {
  width: 100vw;
  height: 100vh;
  background: #3e1e68;
}
.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #ffacac;
  top: 3%;
  left: 17%;
  animation-duration: 14.5s;
  animation-delay: -4.2s;
  transform-origin: 25vw 18vh;
  box-shadow: -40vmin 0 9497133955vmin currentColor;
}
.background span:nth-child(2) {
  color: #e45a84;
  top: 69%;
  left: 26%;
  animation-duration: 11.1s;
  animation-delay: -13.6s;
  transform-origin: 16vw -12vh;
  box-shadow: -40vmin 0 15177751105vmin currentColor;
}
.background span:nth-child(3) {
  color: #583c87;
  top: 6%;
  left: 42%;
  animation-duration: 12.5s;
  animation-delay: -12.7s;
  transform-origin: -23vw -21vh;
  box-shadow: -40vmin 0 20919031525vmin currentColor;
}
.background span:nth-child(4) {
  color: #583c87;
  top: 22%;
  left: 37%;
  animation-duration: 15.6s;
  animation-delay: -7s;
  transform-origin: -13vw 11vh;
  box-shadow: -40vmin 0 1345757015vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 51%;
  left: 13%;
  animation-duration: 11.2s;
  animation-delay: -16s;
  transform-origin: -19vw 23vh;
  box-shadow: -40vmin 0 16109517865vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 47%;
  left: 50%;
  animation-duration: 14.5s;
  animation-delay: -11.6s;
  transform-origin: 18vw 19vh;
  box-shadow: -40vmin 0 15298879985vmin currentColor;
}
.background span:nth-child(7) {
  color: #e45a84;
  top: 24%;
  left: 22%;
  animation-duration: 14.7s;
  animation-delay: -7.9s;
  transform-origin: -11vw -11vh;
  box-shadow: -40vmin 0 3723816375vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffacac;
  top: 96%;
  left: 57%;
  animation-duration: 14.3s;
  animation-delay: -10.9s;
  transform-origin: 14vw -22vh;
  box-shadow: -40vmin 0 3799573545vmin currentColor;
}
.background span:nth-child(9) {
  color: #e45a84;
  top: 79%;
  left: 3%;
  animation-duration: 10.4s;
  animation-delay: -5.1s;
  transform-origin: 24vw 24vh;
  box-shadow: -40vmin 0 9973626725vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffacac;
  top: 51%;
  left: 97%;
  animation-duration: 12s;
  animation-delay: -9.1s;
  transform-origin: -23vw 2vh;
  box-shadow: -40vmin 0 6913612355vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 8%;
  left: 97%;
  animation-duration: 14.8s;
  animation-delay: -6s;
  transform-origin: 23vw 17vh;
  box-shadow: -40vmin 0 20298382785vmin currentColor;
}
.background span:nth-child(12) {
  color: #e45a84;
  top: 45%;
  left: 65%;
  animation-duration: 12.8s;
  animation-delay: -12.8s;
  transform-origin: 20vw -4vh;
  box-shadow: -40vmin 0 5256144475vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffacac;
  top: 65%;
  left: 3%;
  animation-duration: 13.6s;
  animation-delay: -8.2s;
  transform-origin: -5vw 25vh;
  box-shadow: -40vmin 0 4385149905vmin currentColor;
}
.background span:nth-child(14) {
  color: #e45a84;
  top: 73%;
  left: 50%;
  animation-duration: 14.1s;
  animation-delay: -10.5s;
  transform-origin: 24vw 25vh;
  box-shadow: -40vmin 0 18134004875vmin currentColor;
}
.background span:nth-child(15) {
  color: #583c87;
  top: 21%;
  left: 84%;
  animation-duration: 10.7s;
  animation-delay: -13s;
  transform-origin: -2vw -4vh;
  box-shadow: -40vmin 0 703797285vmin currentColor;
}
.background span:nth-child(16) {
  color: #e45a84;
  top: 46%;
  left: 47%;
  animation-duration: 10.6s;
  animation-delay: -14.2s;
  transform-origin: -18vw -9vh;
  box-shadow: -40vmin 0 3571515345vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffacac;
  top: 65%;
  left: 12%;
  animation-duration: 11.1s;
  animation-delay: -10.6s;
  transform-origin: 14vw -10vh;
  box-shadow: -40vmin 0 9358255935vmin currentColor;
}
.background span:nth-child(18) {
  color: #583c87;
  top: 43%;
  left: 85%;
  animation-duration: 13.8s;
  animation-delay: -13.5s;
  transform-origin: 24vw 17vh;
  box-shadow: -40vmin 0 20376389285vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffacac;
  top: 75%;
  left: 65%;
  animation-duration: 11.4s;
  animation-delay: -4.8s;
  transform-origin: -22vw 23vh;
  box-shadow: -40vmin 0 17197801245vmin currentColor;
}
.background span:nth-child(20) {
  color: #ffacac;
  top: 67%;
  left: 24%;
  animation-duration: 13.5s;
  animation-delay: -8.7s;
  transform-origin: 2vw 4vh;
  box-shadow: -40vmin 0 2537161025vmin currentColor;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
