@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.box-shadow-3d {
  text-shadow: -1px -1px 0px #6a63eb, 1px 1px 0px #6a63eb, 2px 2px 0px #6a63eb,
    3px 3px 0px #6a63eb, 4px 4px 0px #6a63eb, 5px 5px 0px #6a63eb;
}
.box-shadow-3d-minus {
  text-shadow: 1px 1px 0px #6a63eb, 2px 2px 0px #6a63eb, 3px 3px 0px #6a63eb,
    4px 4px 0px #6a63eb;
}

.box-shadow-3d-sm {
  text-shadow: 0px 0px 10px #6a63eb, 1px 1px 10px #6a63eb, 2px 2px 10px #6a63eb,
    3px 3px 10px #6a63eb;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Patua One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
}

button {
  font-family: "Patua One", sans-serif;
}

#c {
  /*background: URl('https://i.pinimg.com/originals/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg');*/
  background: #100216;
  background-size: cover;
  width: 100vw;
  max-height: 100vh;
  z-index: -1;
}
