@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

::-webkit-scrollbar {
  width: 0;
}

.float-left {
  top: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Patua One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: crosshair;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#c {
  /*background: URl('https://i.pinimg.com/originals/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg');*/
  background: #100216;
  background-size: cover;
  width: 100vw;
  max-height: 100vh;
  z-index: -1;
}
